// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
 * Set up a decent box model on the root element
 */

html {
  /* this was a bad practice because it overrides the user agent's prefs */
  /* font-size: 10px; */
  /* so we make it a percentage of the usual 16px so users can zoom in */
  // define 1 rem as 10px
  font-size: 62.5%; // 1rem = 10px; 10/16=.625 = 62.5%

  // larger MQs before smaller ones
  @include respond(tab-land) {
    // < 1200
    font-size: 56.25%; // 1rem = 9px; 9/16=.5625 = 56.25%
  }

  @include respond(tab-port) {
    // < 900
    font-size: 50%; // 1rem = 8px; 8/16=.5 = 50%
  }

  // @include respond(phone) {
  //   // < 600
  //   font-size: 30%; // 1rem = 4.8; 4.8/16=.3 = 30%
  // }

  @include respond(big-desktop) {
    // > 1800
    font-size: 75%; // 1rem = 12px; 12/16=.75 = 75%
  }
}

body {
  // padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }

  /*use inheritance over universal selector when you can*/
  box-sizing: border-box;
}

::selection {
  background-color: $color-secondary;
  color: $color-white;
}
/**
 * Basic styles for links
 */
a {
  color: $color-primary;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.test-section {
  &-1 {
    min-height: 100vh;
    // background-color: $;
  }
  &-2 {
    background-color: $color-primary;
  }
  &-3 {
  }
  &-4 {
  }
  &-5 {
  }
}
